    /* Accordion styles */
    // .faqTabs {
    //     //overflow: scroll;
    //     //height: 100vh;
    //     //background-color: #faa;
    
    //     @include device-md {
    //         //overflow: hidden;
    //         height: 100%;
    //     }
    // }
    
    .faqTab {
        width: 100%;
        color: $black;
        overflow: hidden;
        margin-bottom: 20px;
    
        &-label {
            display: flex;
            justify-content: space-between;
            padding: 1em;
            background-color: $gray-200;
            border-top: 2px solid $primary;
            font-weight: bold;
            cursor: pointer;
            transition: all .5s ease;
            /* Icon */
            &:hover {
                background: $primary;
            }
    
            &::after {
                content: "\276F";
                color: rgba(0, 0, 0, 0.5);
                width: 1em;
                height: 1em;
                text-align: center;
                transition: all .35s;
            }
        }
    
        &-content {
            max-height: 0;
            padding: 0 1em;
            color: $black;
            background: $white;
            transition: all .35s;
        }
    
        &-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: $primary;
            cursor: pointer;
    
            &:hover {
                background: $primary;
            }
        }
    }
    
    //隱藏radio
    input[type="radio"] {
        //position: absolute;
        opacity: 0;
        z-index: -1;
        display: none;
    }
    
    // :checked
    input:checked {
        +.faqTab-label {
            border-top: 2px solid $primary;
            background:$gray-200;
    
            &::after {
                transform: rotate(90deg);
            }
        }
    
        ~.faqTab-content {
            max-height: 100vh;
            padding: 1em;
        background-color: $gray-200;
        }
    }