
//gis slide
// https://css-tricks.com/infinite-all-css-scrolling-slideshow/
.gisSlideWrap{
  position: relative;
  overflow: hidden;
  height: 200px;
}
.gisSlide{
  background: url("../images/testSlide1.jpg");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: gisSlideMove 90s linear infinite;
}



